<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {%csrf_token%}
    {{form.as_p}}
    <div class="md-3">
    <label for="name">Name</label>
       <input name="name" type="text" id="name" class="form-control" placeholder="Enter your Name">
    </div>
    <label for="email">Email</label>
       <input name="email" type="text" id="email" class="form-control" placeholder="Enter your Email">
    </div>
    <label for="Password">Password</label>
       <input name="Password" type="text" id="Password" class="form-control" placeholder="Enter your Password">
    </div>
    <input type="submit" value="Submit">

</form>
</body>
</html>